*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    text-decoration:none;
    list-style:none;
  
}

header{
    display:flex;
}

body{
    text-align:center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 25px;
    padding:20px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    
}

.menu{
    position:relative;  
    float:left;
    background-color:white;
}

/*esto es para los enlaces*/
.navbar ul li a{
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;  
    
}

/*esto es para que aparesca el color al momento de pasar el mouse por los links*/

ul li a:hover{
    color:beige;
}

h2{
    padding-top: 50px;
    color:black;
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    padding-top:60px;
}

/*el div que tiene la clase content donde estan los enlaces*/
.content{
    background-color:white;
    padding:1em;
}

.boton{
    box-sizing: border-box;
    border-radius: 10px;
    color:white;
}

/*barra de navegación*/
.navbar a{
    color: rgb(5, 36, 41);
  font-size: 20px;
  position: relative;
  font-family:Arial, Helvetica, sans-serif;
  padding-left: 10px;
}

.navbar a:after{
    content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left:0;
  background-color:#c5c6c7;
  transform-origin: bottom right;
  transition:transform 0.6s ease-out;
}

.navbar a:hover:after{
    transform: scaleX(1);
  transform-origin: bottom left;
}

/*boton de empezar*/
.boton{
    border-bottom: 9px;
    color:black;
    background-color: yellow;
}


/*esto es la parte de los cuadros de que aprenderan*/
.box {
   height: 290px;
   width:190px;
   background-color: yellow;
   font-size: medium;

}
.box1{
    height: 290px;
    width:190px;
    background-color: yellow;
    font-size: medium;
}
.box2{
    height: 290px;
    width:190px;
    background-color: yellow;
    font-size: medium;
}

    footer{
        background-color:rgb(235, 198, 198);
        padding:80px;
       
    }

    .ofrece{
        display: flex;
    }

    p{
        display: flex;
        font-family:cursive, sans-serif;
    }