*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    text-decoration:none;
    list-style:none;
  
}


body{
    text-align:center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 25px;
    padding:20px;
}


/*esto es para los enlaces*/
.navbar ul li a{
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;  
}

/*esto es para que aparesca el color al momento de pasar el mouse por los links*/

ul li a:hover{
    color:beige;
}

h2{
    padding-top: 50px;
    color:black;
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    padding-top:60px;
}

.boton{
    box-sizing: border-box;
    border-radius: 10px;
    color:white;
}

/*barra de navegación*/
.navbar{
    text-align: right;
    display: flex;
    align-items: center;
    justify-items: right;
}

.navbar a{
    color: rgb(5, 36, 41);
  font-size: 20px;
  position: relative;
  font-family:Arial, Helvetica, sans-serif;
 margin-right:5px;
}

.navbar a:after{
    content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left:0;
  background-color:#c5c6c7;
  transform-origin: bottom right;
  transition:transform 0.6s ease-out;
}

.navbar a:hover:after{
    transform: scaleX(1);
  transform-origin: bottom left;
}


.logo{
        display: flex;
       padding:5px;
       margin-right:120px;
    }

    img{
        margin-right: 5px;
    }

    /*iniciar sesion*/
.confirma{
    border-color: #c5c6c7;
    border-bottom: 20px;
}

