*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    text-decoration:none;
    list-style:none;
  
}


body{
    text-align:center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 25px;
    padding:20px;
}


/*esto es para los enlaces*/
.navbar ul li a{
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;  
}

/*esto es para que aparesca el color al momento de pasar el mouse por los links*/

ul li a:hover{
    color:beige;
}

h2{
    padding-top: 50px;
    color:black;
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    padding-top:60px;
}

.boton{
    box-sizing: border-box;
    border-radius: 10px;
    color:white;
}

/*barra de navegación*/
.navbar{
    text-align: right;
    display: flex;
    align-items: center;
    justify-items: right;
}

.navbar a{
    color: rgb(5, 36, 41);
  font-size: 20px;
  position: relative;
  font-family:Arial, Helvetica, sans-serif;
 margin-right:5px;
}

.navbar a:after{
    content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left:0;
  background-color:#c5c6c7;
  transform-origin: bottom right;
  transition:transform 0.6s ease-out;
}

.navbar a:hover:after{
    transform: scaleX(1);
  transform-origin: bottom left;
}


.logo{
        display: flex;
       padding:5px;
       margin-right:120px;
    }

    img{
        margin-right: 5px;
    }

    /*iniciar sesion*/
.confirma{
    border-color: #c5c6c7;
    border-bottom: 20px;
    padding:5px;
    margin:10px;
}

.parra-2{
    background-color: green;
    color:white;
    margin: 5px;
    text-align: center;
    padding:30px;
}

.parra-1{
    background-color: blue;
    color:wheat;
    text-align: center;
    padding:30px;
}

.parra-3{
    background-color: rgb(255, 102, 0);
    color:wheat;
    text-align: center;
    padding:30px;
}

#tablero{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap:10px;
}

.cartas{
    background-color: #ccc;
    border:1px solid #000;
    cursor:pointer;
    font-size:24px;
    text-align: center;
    padding:15px;
}

.fondo1{
    background-color: rgb(221, 214, 214);
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    height: auto;
    padding: 1em;
}
